$white: #fff;
$black: #000;

$circularLoaderSize: 90px;
$circularLoaderSize: 90px;

@mixin WidthAndHeight($w, $h) {
  width: $w;
  height: $h;
}

.loader-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  width: 25%;
  min-width: 300px;
  min-height: 300px;
  display: block;
  z-index: 30000;
  .loader {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: 10%;
    transform: translate3d(-50%, -50%, 0);
  }
  &--2 {
    .loader {
      @include WidthAndHeight($circularLoaderSize, $circularLoaderSize);
      .circle-line {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        border-radius: 100%;
        animation: rotate180 2s infinite;
        border: 5px solid transparent;
        border-top-color: $white;
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            left: 10% * ($i - 1);
            top: 10% * ($i - 1);
            width: 100% - 20% * ($i - 1);
            height: 100% - 20% * ($i - 1);
            animation-delay: 0.5s * ($i - 1);
          }
        }
      }
    }
  }
}
@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate45 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    opacity: 0.3;
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes rotateXY {
  0% {
    transform: rotate(0deg);
  }
  50% {
    opacity: 0.8;
    transform: rotateY(180deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(180deg) rotateX(180deg);
  }
}

@keyframes translateRotateSquares {
  0%,
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    opacity: 0.3;
    transform: translate(40px, 40px) rotate(45deg);
  }
  50% {
    transform: translate(0px, 80px) rotate(0deg);
  }
  75% {
    transform: translate(-40px, 40px) rotate(45deg);
  }
}

@keyframes translateSquares {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    opacity: 0.3;
    transform: translate(0px, 5px);
  }
  75% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes wave {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    opacity: 0.3;
    transform: translate(-2px, 0px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes wave2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    opacity: 0.3;
    transform: translate(0, 20px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
